.select-block > select {
  box-shadow: 0.3rem 0.5rem 0.8rem 0.2rem rgba(0, 0, 0, 0.2);
  border-radius: 1.2rem;
}

.select-block {
  position: relative;
  margin-bottom: 1.2rem;
}

.select-block + .select-block {
  margin-top: 1.4rem;
}

.select-block label {
  font-size: 1.4rem;
}

.select-block select {
  width: 100%;
  height: 5.6rem;
  margin-top: 1.2rem;

  border-radius: 0.8rem;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  outline: 0;
  padding: 0 1.6rem;
  font: 1.6rem Archivo;
}

.select-block::after {
  transition: 0.555s;

  width: 0rem;
  height: 0.3rem;

  border-radius: 2.6rem;

  content: '';

  background: var(--color-primary-light);
  position: absolute;

  left: 1.6rem;
  right: 1.6rem;

  bottom: 0;
}

.select-block:focus-within::after {
  width: calc(100% - 3.2rem);
}
